@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&display=swap");

:root {
  --main-source: "Press Start 2P", system-ui;
  --card-source: "IBM Plex Mono", monospace;
  --color-primary: #5d04d9;
  --secondary-color: #03318c;
  --info-color: #e5e5e5;
  --light-color: #ffffff;
  --dark-color: #000000;
}

body {
  background-color: var(--light-color);
  font-family: var(--main-source);
}

/* ------------Header ---------------- */
.header,
.footer {
  background-color: var(--color-primary);
  padding: 20px 0;
}

.header {
  box-shadow: 0 7px 0.9px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.header__logo,
.footer__logo {
  width: max-content;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header__logo--img,
.footer__logo--img {
  width: 100%;
  height: auto;
}

.header__logo--title,
.footer__logo--title {
  font-weight: 400;
  font-size: 24px;
  color: var(--light-color);
}

/* -------------Main------------ */

.main {
  max-width: 1380px;
  box-sizing: border-box;
  margin-top: 96px;
  border-radius: 10px;
  padding: 60px 40px;
  display: flex;
  gap: 70px;
  margin: 96px auto 0 auto;
}

.products,
.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 40px;
  line-height: 24px;
}

.products {
  width: 60%;
}

.products--title,
.form--title {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.products__container {
  box-sizing: border-box;
  padding: 15px;
  box-shadow: -12px 10px 5.8px 0 rgba(0, 0, 0, 0.25);
  gap: 115px;
  overflow-x: auto;
  max-height: calc(100vh - 52px);
  scrollbar-color: #d6d6d6 #ffffff00;
  scrollbar-width: thin;
}

.products-cards {
  width: 100%;
  height: 336px;
  box-sizing: border-box;
  padding: 0 0 10px 0;
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: thin;
  justify-content: flex-start;
}

.products-cards__items {
  box-sizing: border-box;
  width: calc(196px - 6px);
  height: calc(258px - 6px);
  background-color: var(--color-primary);
  padding: 4px;
  display: flex;
  flex-direction: column;
  border: 3px solid var(--dark-color);
  border-radius: 10px;
  gap: 10px;
}

.products-cards__items::before,
.products-cards__items::after {
  box-sizing: border-box;
}

.products-cards__items--img {
  box-sizing: border-box;
  width: 176px;
  max-height: 174px;
  box-sizing: border-box;
  border-radius: 10px;
  gap: 8px;
}

.products-cards__items--img img {
  box-sizing: border-box;
  width: 176px;
  height: 174px;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 5px;
  border: 3px solid var(--dark-color);
}

.products-cards__items--title {
  overflow: hidden;
  font-family: var(--card-source);
  font-weight: 400;
  color: var(--light-color);
  font-size: 15px;
  line-height: 19.5px;
  text-overflow: ellipsis;
  flex-wrap: nowrap;
}

.products-cards__items--price {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.products-cards__items--price p {
  font-family: var(--card-source);
  font-weight: 700;
  font-size: 16px;
  color: var(--light-color);
  line-height: 20.8px;
}

.products-cards__actions--delete {
  cursor: pointer;
}

.form {
  max-width: 472px;
}

.form__input {
  border: 3px solid var(--secondary-color);
  line-height: 20.8px;
  font-family: var(--card-source);
  font-weight: 600;
  font-size: 16px;
  border-radius: 58px;
  padding: 15.6px 15px;
  outline: none;
}

.form__input::placeholder {
  color: var(--secondary-color);
}

.form__buttoms {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 13px;
}

.form__buttom {
  width: 100%;
  box-sizing: border-box;
  font-family: var(--card-source);
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  border: 3px solid var(--secondary-color);
  padding: 11.5px 0;
  border-radius: 15px;
  line-height: 26px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.form__buttom--submit {
  background-color: var(--secondary-color);
  color: var(--light-color);
}

.form__buttom--clear {
  color: var(--secondary-color);
}

.form__buttom--submit:hover {
  background-color: var(--light-color);
  color: var(--secondary-color);
}

.form__buttom--clear:hover {
  background-color: var(--secondary-color);
  color: var(--light-color);
}

/* ------------Footer--------------------- */

.footer {
  padding: 65px 0px;
}

.footer__info {
  font-family: var(--card-source);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 16px;
  color: var(--light-color);
}

.footer__info span {
  margin-top: 15px;
  font-weight: 200;
  display: block;
}

/* -------------Responsive Mobile---------------- */

@media (max-width: 430px) {
  /* ----------------Main----------------- */
  .main {
    box-sizing: border-box;
    flex-direction: column-reverse;
    padding: 0;
  }

  .products,
  .form {
    box-sizing: border-box;
    min-width: 100%;
  }

  .products__container {
    scrollbar-width: none;
    overflow: hidden;
    max-height: max-content;
  }

  .products-cards {
    align-items: center;
  }

  .products {
    padding: 0;
  }

  .form__buttom {
    padding: 11.5px auto;
  }

  /* ----------Footer---------- */
  .footer {
    padding: 32.5px 0;
  }
}
